body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F7FA;
}
img {
    display: block;
    min-width: 100%;
    height: auto;
}
.main-container{
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    background-color: #fff;
    margin: 40px auto;
}
/*Main content section*/
.main-content-section{
    padding: 100px 90px;
}
.main-content-title{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #000;
    margin-bottom: 10px;
}
/* About me section*/
.about-me-section {
    margin: 0 0 40px 0;
}
.about-me-profession{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    margin: 0 0 20px 0;
}

.about-me-name{
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: #000;
    margin: 0 0 25px 0;
}

.about-me-description{
    width: 400px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
/* My-work-experience */
.my-work-experience-company{
    color: #F86D3A;
}
.my-work-experience-position{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 10px 0;
}
.my-work-experience-period{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin: 0 0 10px 0;
}
.my-work-experience-divider{
    color: #000;
}
.my-work-experience-duties{
    padding: 0 0 0 18px;
}
.my-work-experience-duty{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
.my-work-experience-company-bloc{
    margin:0 15px 0 0;
}

/*My projects section*/

.my-projects-section{
    margin: 0 0 50px 0;
}
.my-projects-list{
    padding: 0 0 0 17px;
}
.my-projects-item{
    color: #000;
    font-weight: bold;
}
.my-projects-link{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
}
.my-projects-text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-left: 5px;
}
.my-projects-bracket{
    font-style: normal;
    font-weight:bold;
    font-size:14px;
    line-height: 24px;
    color: #000;
}

/* Sidebar section */

.sidebar-section{
    background-color: #1E2939;
    width: 370px;
    padding: 40px 0;
}

.soft-skills-section,
.contacts-section,
.tech-skills-section{
    margin: 50px 0 0 40px;
}

.sidebar-title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #fff;
    margin-bottom: 10px;
}
/* Contacts section */
.contacts-section-type{
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color:#fff;
    margin-right: 7px;
}
.contacts-section-link{
    color: #565E6A;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px; 
}
/* Tech & Soft skills section */
.soft-skills-list,
.tech-skills-list {
    padding:0 0 0 15px;
}
.soft-skills-item,
.tech-skills-item{
    color: #FB603A;
}
.soft-skills-item-text,
.tech-skills-item-text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
}
.tech-skills-section{
    margin-left: 7px;
}